<?xml version="1.0"?>
<phpunit
  bootstrap="tests/unit/bootstrap.php"
  colors="true"
  verbose="true"
  backupGlobals="false"
>
  <testsuites>
    <testsuite name="llms-md-unit">
      <directory suffix=".php">tests/unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
